
.container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border: solid grey;
  transition: 0.5s;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px;
}

.login-signin_switch {
  margin-top: 20px;
  margin-bottom: 0;
}
u {
  cursor: pointer;
  color: rgb(0, 0, 70);
  transition: 0.1s;
}

u:hover {
  color: blue;
}

.transition-out {
  position: absolute;
  transform: translateX(200vw);
}
.transition-in {
  position: absolute;
  transform: translateX(-200vw);
}

.hidden {
  display: none;
}

.password_container {
  position: relative;
}

.fa-eye-slash,
.fa-eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
}
.fa-eye {
  right: 11px;
}

.name-surname_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.uncomplete_input {
  border: 1px solid red !important;
  background-color: rgba(255, 0, 0, 0.171);
  transition: 0.1s;
}
